//sass vars
$primaryColor: #53a200;
$secondaryColor: lightgrey;
$white: white;
$black: black;
$red: red;
$transparent: transparent;
$primaryDisabledColor: rgba(83, 162, 0, 0.5);

$primaryFont: 'DM Sans', sans-serif;
$secondaryFont: 'Roboto', sans-serif;